.main {
    padding: 2rem;
    background-color: #f4f9fc;
    min-height: 100vh;
}

.top {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.bottom {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}